<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Araç_Kiralama_Otomasyonu.Properties.Settings.aracKiralamaConnectionString"
            connectionString="Data Source=DESKTOP-LNTS0B0\SQLEXPRESS;Initial Catalog=aracKiralama;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>